.count-container {
    display: flex;
    align-items: center;
}

.count-label {
    margin: 0 5px;
}


.count-container .action-button {
    margin: 0 5px;
}

.arrow-button {
    margin-right: 10px;
}

.action-button {
    margin: 0 5px;
}

.css-lytdfk.epzddad1 {
    /*flex: 1;*/
    text-align: left;
    /*margin-right: 10px;*/
    font-size: 13px;
}

.css-total.price {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}

.css-product.sub {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
}

.css-total.count {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-size: 20px;
}

.css-iqoq9n {
    margin-top: 20px;
}

.css-1k8t52o {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

ol, ul {
    list-style-type: none;
}

#Box {
    height: 100px;
}

.css-1cb5lnc {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 11px 10px 11px 15px;
    font-size: 12px;
    border-left: 1px solid rgb(244, 244, 244);
    border-top: 1px solid rgb(244, 244, 244);
    border-right: 1px solid rgb(244, 244, 244);
    margin-top: 5px;
}

.css-1cb5lnc:last-of-type {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-tk6lxo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 4px;
}

.css-1qdyvok {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
}

.css-1yojl0t {
    line-height: 16px;
    width: 320px;
    min-height: 24px;
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
}

.css-1k8t52o {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.css-1e90glc {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}

.css-18y6jr4 {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
    vertical-align: top;
}

.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.css-183fdlo .MuiOutlinedInput-root {
    height: 40px;
}

.jss1 {
    font-family: Noto Sans;
}

.css-nnbavb {
    float: unset;
    padding: 0px;
    line-height: 11px;
    transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

img, legend {
    border: 0;
    vertical-align: top;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}


.css-xald09 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    height: 44px;
    border-color: rgb(221, 221, 221);
    border-radius: 0px;
}

.css-qiwgdb.css-qiwgdb.css-qiwgdb {
    padding-right: 32px;
}

.css-qiwgdb.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.css-qiwgdb {
    appearance: none;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

.css-e6zlnr {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 17px 0px 18px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    letter-spacing: -0.5px;
}

.jss1 .MuiOutlinedInput-notchedOutline {
    border-color: #ddd !important;
}

.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}

fieldset {
    margin: 0;
    padding: 0;
}

.css-15h3zi {
    width: 100%;
    /*padding: 14px 16px 12px 15px;*/
}


.css-yae46d ul {
    padding: 0px;
}

.css-unrh3l {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}


.css-r8u8y9 {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;
}

.css-yae46d {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    position: absolute;
    overflow: hidden auto;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0px;
}

.css-yae46d ul li.MuiMenuItem-root:not(:last-of-type) {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-yae46d ul > li {
    font-family: "Noto Sans";
}

li {
    text-align: -webkit-match-parent;
}

.css-1sucic7 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}

.css-esi9ax {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}

.css-19h9nlb {
    width: 200px;
    line-height: 16px;
    font-size: 12px;
    letter-spacing: -0.5px;
    overflow-wrap: break-word;
}

.css-p8vx4 {
    padding: 1px 0px 2px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: rgb(102, 102, 102);
}

.css-t4macj {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
}

.selected-item {
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
}

.css-x2o5fx {
    /*margin-left: 50px;*/
    text-decoration: line-through;
    font-size: 12px;
    color: rgb(181, 181, 181);
}

.css-1fvrsoi {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
}

.css-1p79lf5 {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 5px;
    border-radius: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-height: 48px;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    color: rgb(51, 51, 51);
    white-space: normal;
    cursor: pointer;
}

.css-r8u8y9 {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;
}


fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
.jss1 .MuiSelect-iconOutlined {
    right: 10px;
}

.css-183fdlo .MuiSelect-iconOutlined {
    color: rgb(51, 51, 51);
}

svg:not(:root) {
    overflow: hidden;
}

.css-1yhq19e {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    transform: rotate(180deg);
}

path[Attributes Style] {
    d: path("M 12 24 C 18.6274 24 24 18.6274 24 12 C 24 5.37258 18.6274 0 12 0 C 5.37258 0 0 5.37258 0 12 C 0 18.6274 5.37258 24 12 24 Z");
    fill: rgb(95, 0, 128);
}

:not(svg) {
    transform-origin: 0px 0px;
}



.css-1636szt {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}

.css-x4cdgl {
    font-weight: bold;
    font-size: 32px;
    color: rgb(51, 51, 51);
    line-height: 36px;
}

.css-1jb8hmu {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    line-height: 30px;
}

.css-w1is7v {
    padding-right: 12px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.css-fburr9 {
    margin-right: 4px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
    text-align: right;
}

.css-gqkxk8 {
    font-weight: bold;
    font-size: 12px;
    color: #4797e1;
    padding-right: 4px;
    text-align: right;
}

.css-1jzvrpg {
    padding-top: 4px;
}

.css-nx0orh {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    width: 88px;
    border-radius: 3px;
}
:root {
    --swiper-theme-color: #4797e1;
}

:root {
    view-transition-name: root;
}

.css-1k8t52o {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/static/page.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.count-container {
    display: flex;
    align-items: center;
}

.count-label {
    margin: 0 5px;
}


.count-container .action-button {
    margin: 0 5px;
}

.arrow-button {
    margin-right: 10px;
}

.action-button {
    margin: 0 5px;
}

.css-e6zlnr.epzddad2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}

.css-total.price {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}

.css-product.sub {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
}

.css-total.count {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-size: 20px;
}

ul.css-iqoq9n {
    text-align: left;
    margin-left: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

*, :after, :before, legend, td, th {
    padding: 0;
}

#Box {
    height: 100px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.css-1qdyvok {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.css-1yojl0t {
    line-height: 16px;
    width: 320px;
    min-height: 24px;
    color: #4797e1;
    overflow-wrap: break-word;
}

.css-1k8t52o {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.css-gqkxk8 {
    font-weight: bold;
    font-size: 12px;
    color: #4797e1;
    padding-right: 4px;
    text-align: right;
}

.css-1jzvrpg {
    padding-top: 4px;
}

body, html {
    height: 100%;
}

html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
}

.css-12z0wuy {
    margin-right: 30px;
}

.css-toq1xn {
    font-size: 14px;
    font-weight: bold;
    color: #4797e1;
    line-height: 19px;
    height: 19px;
    letter-spacing: -0.5px;
    margin-top: 14px;
}

.css-1jali72 {
    color: rgb(51, 51, 51);
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-top: 8px;
}

.css-ki8mlo {
    width: 500px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(181, 181, 181);
    line-height: 19px;
    letter-spacing: -0.5px;
}

.css-5nirzt {
    padding-right: 9px;
    font-size: 28px;
    color: rgb(250, 98, 47);
}

.css-79gmk3 {
    width: 500px;
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-right: 20px;
}

.css-1e1rd4p > span {
    font-size: 16px;
    color: rgb(181, 181, 181);
    letter-spacing: -0.5px;
    text-decoration: line-through;
    margin-right: 1px;
}

.css-9pf1ze {
    padding-right: 4px;
    font-size: 28px;
    color: rgb(51, 51, 51);
}

.css-1x9cx9j {
    font-size: 20px;
}

html {
    display: block;
}

.css-1k8t52o.epzddad0 {
    flex: 2;
    font-size: 10px;
}

.css-1eoy87d {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.css-16c0d8l {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
}

.css-n48rgu {
    width: 100%;
    position: relative;
}

.css-1k8t52o {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.css-uy94b2 {
    display: block;
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    line-height: 16px;
    white-space: pre-line;
}

.css-c02hqi {
    color: rgb(51, 51, 51);
    font-weight: 400;
    line-height: 19px;
    white-space: pre-line;
    word-break: break-all;
    overflow: hidden;
}

.css-9y0nwt {
    padding-top: 30px;
}

.css-ixlb9s {
    letter-spacing: -0.5px;
}

.css-yhijln {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-end;
}

.css-1iis94s {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-top: 10px;
}

.css-12p95ok {
    background-color: rgb(255, 191, 0);
    margin: 1px 6px 0px 0px;
    padding: 0px 7px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 20px;
}

.css-6m57y0 {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
}

.css-nx0orh .count {
    font-weight: 600;
}

.css-1bp09d0 {
    padding-bottom: 40px;
}

.css-2lvxh7 {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-lytdfk {
    width: 128px;
    height: 100%;
    color: rgb(102, 102, 102);
    font-weight: 400;
    line-height: 19px;
}

.css-1ua1wyk {
    width: 560px;
}

.css-1k8t52o {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.css-1qdyvok {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
}

.css-1yojl0t {
    line-height: 16px;
    width: 320px;
    min-height: 24px;
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
}

.css-1072618 {
    line-height: 16px;
    width: 320px;
    min-height: 24px;
    overflow-wrap: break-word;
    margin-top: -4px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.css-tk6lxo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 4px;
}

.css-gnxbjx {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.css-3z91zj {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}

.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.css-3z91zj:disabled {
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
}

.css-14jnwd7 {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.css-14jnwd7 .cart-button {
    font-weight: 500;
}

.css-1qirdbn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #4797e1;
    border: 0px none;
}

.css-1e1rd4p {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

svg:not(:root) {
    overflow: hidden;
}

/* ---------------------------------------------------------------------------------- */

.css-17cdx60 {
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
}

.css-1i60c0e {
    width: 1050px;
    margin: 0px auto;
}

.css-4iyald {
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.css-j6zuv6 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.css-9jqcug {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}

.css-1uz1ro8 {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

.css-1fttcpj {
    display: flex;
    flex-direction: column;
}

.css-ho1qnd {
    display: flex;
    flex-direction: row;
}

.css-hupzfj {
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
}

.css-1lxmeik {
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}

svg:not(:root) {
    overflow: hidden;
}

.css-nyq565 {
    display: block;
    width: 140px;
    height: 40px;
    margin-bottom: 16px;
    margin-right: 16px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
}

.css-vtjvf {
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}

.css-17hse91 {
    display: flex;
    width: 100%;
    padding-bottom: 29px;
}

.css-bz7mfs {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}

.css-zjik7 {
    display: flex;
}

.css-81eeg3 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 26px 0px 33px;
    border-top: 1px solid rgb(238, 238, 238);
}

.css-12t5wjq {
    display: flex;
    text-align: left;
}

.css-1262i6n {
    width: 34px;
    margin-right: 10px;
}

.css-bft4sh {
    font-size: 10px;
    line-height: 14.5px;
    color: rgb(153, 153, 153);
    word-break: break-word;
}


.css-slkv2p:first-of-type {
    margin-left: 0px;
}

.css-slkv2p {
    margin-left: 14px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

button {
    overflow: visible;
    background-color: transparent;
    border: none;
}

button, select {
    text-transform: none;
}

.css-9ipg3 {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.css-159o541 {
    width: 128px;
    height: 100%;
    color: rgb(102, 102, 102);
    font-weight: 400;
    line-height: 40px;
}

img, legend {
    border: 0;
    vertical-align: top;
}

canvas, img, video {
    max-width: 95%;
}

.css-175n8cp {
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}

.css-1vhhy2d {
    display: block;
    padding-top: 7px;
    font-style: normal;
}

.css-1absul7 {
    position: fixed;
    z-index: 20;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 20px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #4797e1;
}

.css-1danc6e {
    position: relative;
    width: 900px;
    margin: 0px auto;
    font-family: "Noto Sans";
}

.css-1d3si1p {
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(255, 255, 255);
}

.css-18jsklt {
    margin-left: 6px;
}

.css-8vh040 {
    position: fixed;
    z-index: 10;
    right: 31px;
    width: 58px;
    height: 58px;
    transition: opacity 0.5s ease 0s;
    bottom: 25px;
    opacity: 1;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.css-xjpx28 {
    width: 58px;
    height: 58px;
}

.css-6fc6cj {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    background-color: #4797e1;
    border-radius: 3px;
}

.css-1dltvla {
    min-height: 50px;
    padding: 10px 0px 10px 20px;
    background-color: rgb(247, 247, 247);
}

.css-1x17g94 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.css-jpj1ph {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 500px;
    margin-right: 40px;
}

.css-gad126 {
    line-height: 1.36;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
    width: 500px;
    overflow-wrap: break-word;
}

.css-u0s929 {
    width: 320px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.3px;
    color: rgb(102, 102, 102);
    margin-top: 4px;
}

.css-mk4uq1 {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.css-137fsc1 {
    position: absolute;
    right: 0px;
    top: -68px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    background-color: #4797e1;
    border-radius: 3px;
}

.css-15v9kqc {
    padding-top: 2px;
    text-decoration: line-through;
    line-height: 1.43;
    letter-spacing: -0.5px;
    color: rgb(181, 181, 181);
}

.css-ei9o8o {
    padding-top: 2px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -0.5px;
    color: #4797e1;
    margin-left: 6px;
}

.css-skgbeu {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.css-ilrvvb {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    width: 428px;
    margin-bottom: 60px;
}

.css-3z91zj {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}

.css-3z91zj:disabled {
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
}

.css-14jnwd7 {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.css-14jnwd7 .cart-button {
    font-weight: 500;
}

.css-8vh040 {
    position: fixed;
    z-index: 10;
    right: 31px;
    width: 58px;
    height: 58px;
    transition: opacity 0.5s ease 0s;
    bottom: 25px;
    opacity: 1;
}

.css-1le17tz {
    z-index: 20;
    position: sticky;
    top: 56px;
    /*width: 1010px;*/
    box-shadow: rgb(221, 221, 221) 0px -0.5px 0px 0px inset;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.css-tse2s2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 60px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.css-1tzhzcg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-width: 1px 0 1px 1px;
    border-color: #eee;
    border-style: solid;
    background-color: #fafafa;
}

.css-1t0ft7s {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

/*
detail.jsx - description.jsx
*/

/*.css-18eozqj:first-of-type {*/
/*    padding-top: 40px;*/
/*}*/

/*.css-18eozqj {*/
/*    position: relative;*/
/*    width: 1010px;*/
/*    padding-bottom: 100px;*/
/*}*/

/*.css-1d3w5wq {*/
/*    width: 100%;*/
/*}*/

/*.css-1j5kj1e .goods_wrap {*/
/*    width: 1010px;*/
/*    margin: 0px auto;*/
/*    font-family: "Noto Sans";*/
/*    font-weight: 300;*/
/*    letter-spacing: 0px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .pic {*/
/*    text-align: center;*/
/*}*/

/*img, legend {*/
/*    border: 0;*/
/*    vertical-align: top;*/
/*}*/

/*canvas, img, video {*/
/*    max-width: 100%;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .context.last {*/
/*    margin-bottom: 170px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .context {*/
/*    margin-bottom: 130px;*/
/*}*/

/*p {*/
/*    display: block;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    unicode-bidi: isolate;*/
/*}*/

/*h3 {*/
/*    display: block;*/
/*    font-size: 1.17em;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    font-weight: bold;*/
/*    unicode-bidi: isolate;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_intro .context h3 {*/
/*    display: block;*/
/*    margin: 75px 0px 0px;*/
/*    padding-bottom: 35px;*/
/*    font-size: 38px;*/
/*    line-height: 46px;*/
/*    text-align: center;*/
/*    border-bottom: 1px solid rgb(193, 193, 193);*/
/*    color: rgb(102, 102, 102);*/
/*}*/

/*.css-1j5kj1e .goods_wrap .context h3, .css-1j5kj1e .goods_wrap .context strong, .css-1j5kj1e .goods_wrap .context b {*/
/*    font-weight: 500;*/
/*}*/

/*h3 {*/
/*    font-size: 1.17em;*/
/*    font-weight: bold;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_intro .context h3 small {*/
/*    display: block;*/
/*    font-size: 24px;*/
/*    margin-bottom: 14px;*/
/*    line-height: 15px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_intro .context .words {*/
/*    margin-top: 28px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .context .words {*/
/*    margin-top: 55px;*/
/*    font-size: 18px;*/
/*    line-height: 32px;*/
/*    color: rgb(55, 55, 55);*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_pick h3, .css-1j5kj1e .goods_point h3 {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    font-size: 50px;*/
/*    width: 100%;*/
/*    margin-bottom: 70px;*/
/*    font-weight: 400;*/
/*    font-family: "Noto Sans";*/
/*    color: rgb(102, 102, 102);*/
/*}*/

/*.css-1j5kj1e .goods_point h3::before {*/
/*    width: 1010px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_pick h3::before, .css-1j5kj1e .goods_point h3::before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: 28px;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background: rgb(185, 185, 185);*/
/*}*/

/*.css-1j5kj1e .goods_point h3 span {*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    display: inline-block;*/
/*    margin-left: 260px;*/
/*    padding: 0px 15px;*/
/*    background: rgb(255, 255, 255);*/
/*    text-shadow: 2px 0px;*/
/*}*/

/*img, legend {*/
/*    border: 0;*/
/*    vertical-align: top;*/
/*}*/

/*canvas, img, video {*/
/*    max-width: 100%;*/
/*}*/

/*img {*/
/*    overflow-clip-margin: content-box;*/
/*    overflow: clip;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_tip {*/
/*    margin-bottom: 170px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_tip h3 {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    font-size: 30px;*/
/*    padding-left: 48px;*/
/*    font-weight: 500;*/
/*    font-family: "Noto Sans";*/
/*    color: rgb(102, 102, 102);*/
/*    letter-spacing: 1px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_tip h3 span {*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    display: inline-block;*/
/*    padding: 0px 10px;*/
/*    font-size: 36px;*/
/*    background: rgb(255, 255, 255);*/
/*    text-shadow: 2px 0px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_tip .tip_box {*/
/*    margin-top: -15px;*/
/*    border: 1px solid rgb(185, 185, 185);*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_tip .tip_box .context {*/
/*    margin: 60px 62px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .tip_box .context .words {*/
/*    margin: 0px;*/
/*    font-size: 18px;*/
/*    line-height: 32px;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .tip_box strong {*/
/*    display: block;*/
/*    font-size: 25px;*/
/*    line-height: 38px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*b, optgroup, strong {*/
/*    font-weight: 700;*/
/*}*/

/*.css-1j5kj1e .goods_wrap .tip_box .context .words b {*/
/*    font-weight: 400;*/
/*    font-family: "Noto Sans";*/
/*}*/

/*.css-1j5kj1e .goods_wrap .goods_note h3 {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    font-size: 50px;*/
/*    width: 100%;*/
/*    margin-bottom: 70px;*/
/*    font-family: "Noto Sans";*/
/*    font-weight: 500;*/
/*    color: rgb(102, 102, 102);*/
/*    text-shadow: 2px 0px;*/
/*}*/

/* .css-1j5kj1e .goods_wrap .goods_note h3::before {*/
/*     content: " ";*/
/*     position: absolute;*/
/*     z-index: 1;*/
/*     top: 28px;*/
/*     width: 100%;*/
/*     height: 1px;*/
/*     background: rgb(185, 185, 185);*/
/* }*/

/*.css-1j5kj1e .goods_wrap .goods_note h3 span {*/
/*    position: relative;*/
/*    z-index: 10;*/
/*    display: inline-block;*/
/*    padding-right: 8px;*/
/*    background: rgb(255, 255, 255);*/
/*}*/

/*
detail.jsx - review.jsx
*/

/*.css-ek0k8o {*/
/*    padding: 72px 0;*/
/*}*/

/*article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {*/
/*    display: block;*/
/*}*/

/*section {*/
/*    display: block;*/
/*    unicode-bidi: isolate;*/
/*}*/

/*.css-16ax551 {*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    line-height: 41px;*/
/*    letter-spacing: -0.5px;*/
/*    color: #333;*/
/*}*/

/*h2 {*/
/*    display: block;*/
/*    font-size: 1.5em;*/
/*    margin-block-start: 0.83em;*/
/*    margin-block-end: 0.83em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    font-weight: bold;*/
/*    unicode-bidi: isolate;*/
/*}*/

/*.css-dy2b5u {*/
/*    position: relative;*/
/*    display: -webkit-box;*/
/*    display: -webkit-flex;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-pack: start;*/
/*    -ms-flex-pack: start;*/
/*    -webkit-justify-content: start;*/
/*    justify-content: start;*/
/*    -webkit-align-items: center;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-flex-wrap: nowrap;*/
/*    -webkit-flex-wrap: nowrap;*/
/*    -ms-flex-wrap: nowrap;*/
/*    flex-wrap: nowrap;*/
/*    gap: 3px;*/
/*    width: 100%;*/
/*    padding: 20px 0 30px 0;*/
/*    overflow-x: hidden;*/
/*    overflow-y: hidden;*/
/*    scrollbar-width: none;*/
/*    -ms-overflow-style: none;*/
/*}*/

/*.css-gyfnsf:last-of-type {*/
/*    border-top-right-radius: 6px;*/
/*    border-bottom-right-radius: 6px;*/
/*}*/

/*.css-gyfnsf:first-of-type {*/
/*    border-top-left-radius: 6px;*/
/*    border-bottom-left-radius: 6px;*/
/*}*/

/*.css-gyfnsf {*/
/*    position: relative;*/
/*    width: 124px;*/
/*    height: 124px;*/
/*    overflow: hidden;*/
/*    background-color: rgb(244, 244, 244);*/
/*}*/

/*html, button, input, select, textarea {*/
/*    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;*/
/*}*/

/*button, input[type=button], input[type=reset], input[type=submit] {*/
/*    -webkit-appearance: button;*/
/*    cursor: pointer;*/
/*}*/

/*button {*/
/*    overflow: visible;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*}*/

/*button {*/
/*    appearance: auto;*/
/*    font-style: ;*/
/*    font-variant-ligatures: ;*/
/*    font-variant-caps: ;*/
/*    font-variant-numeric: ;*/
/*    font-variant-east-asian: ;*/
/*    font-variant-alternates: ;*/
/*    font-variant-position: ;*/
/*    font-weight: ;*/
/*    font-stretch: ;*/
/*    font-size: ;*/
/*    font-family: ;*/
/*    font-optical-sizing: ;*/
/*    font-kerning: ;*/
/*    font-feature-settings: ;*/
/*    font-variation-settings: ;*/
/*    text-rendering: auto;*/
/*    color: buttontext;*/
/*    letter-spacing: normal;*/
/*    word-spacing: normal;*/
/*    line-height: normal;*/
/*    text-transform: none;*/
/*    text-indent: 0px;*/
/*    text-shadow: none;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    align-items: flex-start;*/
/*    cursor: default;*/
/*    box-sizing: border-box;*/
/*    background-color: buttonface;*/
/*    margin: 0em;*/
/*    padding-block: 1px;*/
/*    padding-inline: 6px;*/
/*    border-width: 2px;*/
/*    border-style: outset;*/
/*    border-color: buttonborder;*/
/*    border-image: initial;*/
/*}*/

/*.css-8rsytm {*/
/*    position: absolute;*/
/*    right: 0px;*/
/*    top: 20px;*/
/*    display: flex;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    width: 124px;*/
/*    height: 124px;*/
/*    margin-bottom: 32px;*/
/*    border-radius: 0px 6px 6px 0px;*/
/*    background-color: rgba(0, 0, 0, 0.2);*/
/*    cursor: pointer;*/
/*}*/

/*.css-1rfcp9j {*/
/*    display: -webkit-box;*/
/*    display: -webkit-flex;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-pack: justify;*/
/*    -webkit-justify-content: space-between;*/
/*    justify-content: space-between;*/
/*    -webkit-align-items: center;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    padding-bottom: 16px;*/
/*}*/

/*.css-rnx5bs {*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    line-height: 16px;*/
/*}*/

/*.css-xz598r {*/
/*    display: -webkit-box;*/
/*    display: -webkit-flex;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    gap: 17px;*/
/*    -webkit-align-items: center;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: end;*/
/*    -ms-flex-pack: end;*/
/*    -webkit-justify-content: flex-end;*/
/*    justify-content: flex-end;*/
/*}*/

/*.css-1wutd8j {*/
/*    position: relative;*/
/*    font-weight: 500;*/
/*    font-size: 12px;*/
/*    color: rgb(51, 51, 51);*/
/*}*/

/*button {*/
/*    border-radius: 0;*/
/*}*/

/*.css-1wutd8j::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 4px;*/
/*    height: 62.5%;*/
/*    border-left: 1px solid rgb(153, 153, 153);*/
/*    margin-left: 8px;*/
/*    margin-right: 8px;*/
/*}*/

/*.css-1vdyl7k {*/
/*    position: relative;*/
/*    font-weight: 400;*/
/*    font-size: 12px;*/
/*    color: rgb(153, 153, 153);*/
/*}*/

/*.css-1sz4nt5 {*/
/*    position: relative;*/
/*    display: -webkit-box;*/
/*    display: -webkit-flex;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-align-items: center;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    background-color: #fff;*/
/*    gap: 10px;*/
/*    padding-bottom: 20px;*/
/*    list-style: none;*/
/*}*/

/*.css-1uscata {*/
/*    display: flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    padding: 9px 10px 9px 14px;*/
/*    border: 1px solid rgb(238, 238, 238);*/
/*    background-color: rgb(255, 255, 255);*/
/*    border-radius: 18px;*/
/*    gap: 2px;*/
/*}*/

/*.css-1m5371z {*/
/*    display: flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    gap: 2px;*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 18px;*/
/*    color: rgb(102, 102, 102);*/
/*}*/

/*svg:not(:root) {*/
/*    overflow: hidden;*/
/*}*/

/*svg[Attributes Style] {*/
/*    width: 18;*/
/*    height: 18;*/
/*    fill: none;*/
/*    stroke: rgb(102, 102, 102);*/
/*}*/

/*svg:not(:root) {*/
/*    overflow-clip-margin: content-box;*/
/*    overflow: hidden;*/
/*}*/


/*.css-1amee4m {*/
/*    line-height: 0;*/
/*}*/

/*path[Attributes Style] {*/
/*    d: path("M 5 11 L 9 7 L 13 11");*/
/*    stroke: rgb(102, 102, 102);*/
/*    stroke-width: 1.2;*/
/*}*/



/*
shoppingCart
*/

.css-1pz4b76 {
    width: 1050px;
    margin: 0px auto;
    padding-bottom: 80px;
}

.css-1n2hipb {
    padding: 50px 0px 48px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
}

.css-a6t9xs {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    letter-spacing: -0.5px;
}

.css-8wfj4z {
    width: 742px;
}

.css-20o6z0 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 10px 16px 2px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
}

.css-2lvxh7 {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-td54hr {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding: 15px 5px 15px 0px;
    border-top: 1px solid rgb(51, 51, 51);
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

ol, ul {
    list-style-type: none;
}

ul {
    display: block;
    /*list-style-type: disc;*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

css-1d6kgf6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 20px 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.css-1d6kgf6:not(:first-of-type) {
    border-top: 1px solid rgb(244, 244, 244);
}

.css-14td1km {
    margin-left: 2px;
}

.css-1u5t3pw {
    display: inline-block;
    width: 60px;
    height: 78px;
    margin-right: 20px;
    background: url(https://res.kurly.com/_next/static/images/noimg-150x195-2c819ff….svg) center center no-repeat rgb(245, 245, 245);
}

.css-1d6kgf6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 20px 0px;
}

.css-14td1km {
    margin-left: 2px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.css-agvwxo {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}

html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

.css-79hxr7 {
    margin-right: 12px;
}

.css-79hxr7 svg {
    vertical-align: middle;
}


.css-1u5t3pw {
    display: inline-block;
    width: 60px;
    height: 78px;
    margin-right: 20px;
    background: url(https://res.kurly.com/_next/static/images/noimg-150x195-2c819ff….svg) center center no-repeat rgb(245, 245, 245);
}

.css-14sb0pe {
    display: flex;
    flex-direction: column;
    width: 345px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}

.css-3negg1 {
    display: block;
    height: 100%;
    background-image: url(https://product-image.kurly.com/cdn-cgi/image/width=120,height=156,fit=crop,quality=85/product/image/dd17288f-5e81-414c-a334-92011e028405.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.css-e0dnmk {
    cursor: pointer;
}

.css-ar9i78 {
    display: flex;
    margin-top: 10px;
}

.css-1gueo66 {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    width: 88px;
    border-radius: 3px;
}

button[disabled], input[disabled] {
    cursor: default;
}

.css-1e90glc {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}

.css-1gueo66 div {
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.css-6m57y0 {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
}

.css-18y6jr4 {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
    vertical-align: top;
}

.css-5w3ssu {
    display: flex;
    flex-direction: column;
    width: 127px;
    text-align: right;
    word-break: break-all;
}

.css-zq4evb {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
}

.css-cwmxfz {
    font-size: 14px;
    line-height: 24px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
    padding-top: 4px;
}

.css-h5zdhc {
    width: 30px;
    height: 30px;
    margin-left: 9px;
}

.css-6mgkir {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMSA5Ljc2MiAyMC4yMzggOSAxNSAxNC4yMzggOS43NjIgOSA5IDkuNzYyIDE0LjIzOCAxNSA5IDIwLjIzOGwuNzYyLjc2MkwxNSAxNS43NjIgMjAuMjM4IDIxbC43NjItLjc2MkwxNS43NjIgMTV6IiBmaWxsPSIjQ0NDIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}

.css-20o6z0 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 10px 16px 2px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
}

.css-zbxehx label {
    display: inline-flex;
    font-size: 14px;
    line-height: 26px;
    padding: 0px;
    color: rgb(51, 51, 51);
}

.css-xi6i4x {
    padding: 14px 0px 9px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
}

.css-79hxr7 svg {
    vertical-align: middle;
}

label {
    cursor: default;
}

path[Attributes Style] {
    d: path("M 7 12.6667 L 10.3846 16 L 18 8.5");
    stroke: rgb(255, 255, 255);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.css-454d5e {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgb(221, 221, 221);
    margin: 6px 21px 0px 22px;
    vertical-align: top;
}

.css-1nzj0g2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
}

.css-12dwhid {
    margin-right: 8px;
    vertical-align: top;
}

.css-12dwhid > span {
    vertical-align: top;
}

.css-qct1ee {
    width: 30px;
    height: 30px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgzMHYzMEgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVFQzQ5RSIgc3Ryb2tlLXdpZHRoPSIxLjUiPgogICAgICAgICAgICA8cGF0aCBkPSJNMTQuNjI3IDI1LjI1NWE3LjYyNyA3LjYyNyAwIDAgMCA3LjYyNi03LjYyN2MwLTIuODA4LTIuNTQyLTcuMTg0LTcuNjI2LTEzLjEyOEM5LjU0MiAxMC40NDQgNyAxNC44MiA3IDE3LjYyOGE3LjYyNyA3LjYyNyAwIDAgMCA3LjYyNyA3LjYyN3oiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KICAgICAgICAgICAgPHBhdGggZD0iTTE0LjYyNyAyMC42NmEzLjgxMyAzLjgxMyAwIDAgMCAzLjgxMy0zLjgxMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
    display: inline-block;
    background-size: cover;
    background-position: center center;
}

use[Attributes Style] {
    stroke: rgb(51, 51, 51);
    stroke-width: 2;
    stroke-linecap: square;
    transform: rotate(135deg, 15.5, 16.5);
}

use[Attributes Style] {
    stroke: rgb(51, 51, 51);
    stroke-width: 2;
    stroke-linecap: square;
    transform: rotate(-45deg, 15.5, 16.5);
}

.css-1dta0ch {
    position: relative;
    width: 284px;
    min-height: 942px;
}

.css-50ad8x {
    position: absolute;
    width: 284px;
    padding-top: 60px;
}

.css-1t6so8j {
    padding: 19px 18px 18px 20px;
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(250, 250, 250);
    margin-top: 25px;
}

.css-8jmoub {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 0px;
}

.css-vmo0an {
    width: 100px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.css-iinokh {
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}

.css-hfgifi {
    padding-left: 2px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: bottom;
}

.css-t4mc5m {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 12px;
}

.css-2biqhz {
    display: block;
    padding-top: 2px;
    color: rgb(95, 0, 128);
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}

.css-7ygxxm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    padding-top: 18px;
    border-top: 1px solid rgb(244, 244, 244);
}

.css-da7gr8 {
    width: 162px;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}

.css-xmbce4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.css-aro4zf {
    padding-left: 4px;
    font-size: 16px;
    vertical-align: 1px;
}

.css-bi9ql0 {
    padding-top: 15px;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}

.css-1q66xvk {
    display: inline-block;
    height: 18px;
    margin-right: 4px;
    padding: 0px 6px;
    border: 1px solid rgb(255, 191, 1);
    border-radius: 9px;
    background-color: rgb(255, 191, 0);
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: rgb(255, 255, 255);
}

.css-8qz8ia {
    padding-top: 20px;
}

.css-fwelhw {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
    font-weight: 500;
}

.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.css-19kxq7d {
    padding: 16px 0px;
}

.css-19kxq7d li {
    padding-top: 4px;
    color: rgb(102, 102, 102);
}

.css-1741abm {
    position: relative;
    padding-top: 4px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 7px;
    color: rgb(153, 153, 153);
    text-align: left;
}





